.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Espaçamento entre os cards */
  padding: 20px;
  margin: 0 auto;
  max-width: 1200px;
}

.card {
  width: 300px; /* Cada card terá uma largura fixa de 300px */
  padding: 20px;
}

/* Alinhamento e espaçamento para conteúdo dentro do card */
.conteudo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 15px;
}

.generos, .plataformas {
  margin-bottom: 10px;
}

.generos {
  border-top: 1px solid #eee;
}

.conteudo-extra {
  text-align: right;
}

/* Responsividade para a lista de cards */
@media (max-width: 768px) {
  .card-list {
      justify-content: center;
      gap: 15px;
  }
  
  .card {
      width: 100%; /* Os cards ocupam 100% da largura em telas menores */
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .card {
      width: calc(50% - 40px); /* Cards ocupam 50% da tela em tablets */
  }
}

@media (min-width: 1025px) {
  .card {
      width: calc(33.33% - 40px); /* Cards ocupam 33% da tela em desktops grandes */
  }
}
